<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HotelReservationConStr"
     providerName="System.Data.SqlClient"
     connectionString = "Data Source=CH7316;
                                   Initial Catalog=HotelReservation;
                                   Integrated Security=True;" />
    <!--User ID=Admin;Password=Password12345;-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>